<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sosen.puns.mapper.PunsMapper">

    <insert id="insertMessage">
        INSERT INTO chat_history (
            date,
            user_name,
            content
        ) VALUES (
            #{message.date},
            #{message.userName},
            #{message.content}
        )
    </insert>

</mapper>
